<a href="https://colab.research.google.com/github/Dhiten/ProyectoIntegrador/blob/main/DivideAndConquer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
import numpy as np
import difflib
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df_fil = pd.read_csv("/content/drive/Shareddrives/Cálculo/DataSetDef.csv",encoding='').dropna()
df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.upper()
len(df_fil['LUGAR'].unique())

3382

## Rename de las infracciones que vamos a usar

In [ ]:
#Transitar por los siguientes sitios restringidos o en horas prohibidas por la autoridad competente. Ademas, el vehiculo sera inmovilizado
df_fil.loc[df_fil['INFRACCION'] == 'Transitar por sitios restringidos o en horas prohibidas por la autoridad competente Además, el vehí','INFRACCION'] = 'Transitar por los siguientes sitios restringidos o en horas prohibidas por la autoridad competente. Ademas, el vehiculo sera inmovilizado'

In [ ]:
#No realizar la revisión técnico-mecánica en el plazo legal establecido o cuando el vehículo no se encuentre en adecuadas condiciones técnico-mecánicas o de emisiones contaminantes, aun cuando porte los certificados correspondientes, además el vehículo será inmovilizado
df_fil.loc[df_fil['INFRACCION'] == 'No realizar la revisión tecnicomecánica en el plazo legal establecido o cuando el vehículo no se enc','INFRACCION'] = 'No realizar la revisión técnico-mecánica en el plazo legal establecido o cuando el vehículo no se encuentre en adecuadas condiciones técnico-mecánicas o de emisiones contaminantes, aun cuando porte los certificados correspondientes, además el vehículo será inmovilizado'

## Rename de los lugares

In [ ]:
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","–"]
for i in spec_chars:
  df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace(i,'')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [ ]:
df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace('PTE',' PRESIDENTE')
df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace('PTO',' PUERTO')
df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace('PIRULAQ',' PIRULAY')

In [ ]:
TOREPLACE = ['OCAÑA','OCANA','OCABA','OCALA','OCA¿A']

for i in range(len(TOREPLACE)):
  df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace(TOREPLACE[i],' O_C_A_Ñ_A ')
  
TOREPLACE = []

In [ ]:
TOREPLACE = ['SDARDINATA','SRDINATA','SAEDINATA','SARIDNTAA', 'SARIDNAT ','SARDINAYTA','SARMIENTO','SARD ','SADINATAC','SARDINALES','SARDIANT','SARDINAT','SARDIANAT','SARDIBATA','SARDIATA','SARIDNATA','SARDINTA','SARIDINATA','SARINATA','SARSINATA','SARINATA','SARIDNARA','SARDINADA','SARDIN ATA','SARDINA TA','SARDINA ','SARCINAT','SARDNIATA','SARINDTA','SARDINARA','SARDIBTA','SARDNAT','SARDNATA','SARDINATAAA','SARDINATAA','SARDINATA']
  
for i in range(len(TOREPLACE)):
  df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace(TOREPLACE[i],' S_A_R_D_I_N_A_T_A ')
  
TOREPLACE = []

In [ ]:
TOREPLACE = ['CYCUTA','CCUUCTA','CUCUCTA','CUCUTAA','CIUCUTA','CUYCUTA','CUCTUTA','CUCUTZ','CUCUTSA','CUCITA','CCUUTA','CUCUUTA','CUUCTA','UCUTA','CUCYTA','UCUCTA','CUCTA','CCUTA','CUCURA','CUICUTA','CUCIT','CUCUR','CUCUT','CUCUA','CUCU','CUCUTAA','CUCUTA','CUUTA']

for i in range(len(TOREPLACE)):
  df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace(TOREPLACE[i],' C_Ú_C_U_T_A_T_A ')
  
TOREPLACE = []

In [ ]:
TOREPLACE = ['BCARAMANGA','BUACARAMANGA','BUCARAMNGA','BUCARMANGA','BUCARAMAMGA','BUCARAMGN','BUCARAMGAN','BUCRAMANGA','RAMANGA','RAMANG','BUCARAMGA','BUCARAMAGA','BUCARQAMANGA','BUCARAMNAGA','BUCARMAANGA','BUCARAMANHA','BUCA', 'BMANGA','BMANG','BMAMGA','BMANHA','BMNGA','BMNAGA','BMANAGA','BMAGA','BMANPA','BMANA']

for i in range(len(TOREPLACE)):
  df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace(TOREPLACE[i],'B_U_C_A_R_A_M_A_N_G_A ')

TOREPLACE = []

In [ ]:
TOREPLACE = ['PÁMPLONAC','PMPLONAC','PAMPLONA','PAMPLONITA','PAMLONA','PAMPLONAC','AMPLONAC','PAMPLON','PAMPÑONA','PAMPONA','PAMPLLONA','PAMPLOAN','PAMPPLONA','PAMPLOA','PAM PLONA','PAMPLOPNA','PAMPLOONA','PAMOLONA','PAMPLOMA','PAMPLNA','PAMPLANA','PAMP']
  
for i in range(len(TOREPLACE)):
  df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace(TOREPLACE[i],' P_A_M_P_L_O_N_A ')
  
TOREPLACE = []

In [ ]:
TOREPLACE = ['PRESISENTE','PRESIDENTES','PRESIDENT','PDTE','PRSIDENTE']

for i in range(len(TOREPLACE)):
  df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace(TOREPLACE[i],' P_R_E_S_I_D_E_N_T_E ')
  
TOREPLACE = []

In [ ]:
car = ['1','2','3','4','5','6','7','8','9','0']
for i in car:
  df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace(i,'')

In [ ]:
replace = []
for i in df_fil['LUGAR']:
  palabras = i.split()
  for j in range(len(palabras)):
    if (len(palabras[j])<=5 and palabras[j] != 'OCAÑA'):
      palabras[j] = ''
  a = ' '.join(palabras)
  replace.append(' '.join(a.split()))
df_fil.loc[:,'LUGAR'] = replace

In [ ]:
replace = []
for i in df_fil['LUGAR']:
  a = ' '.join(i.split())
  if len(a)<=5:
    a = 'borrame'
  replace.append(a)
df_fil.loc[:,'LUGAR'] = replace

In [ ]:
TOREPLACE = ['SADINATA', 'SADRINATA']
  
for i in range(len(TOREPLACE)):
  df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace(TOREPLACE[i],'S_A_R_D_I_N_A_T_A')
  
TOREPLACE = []

In [ ]:
TOREPLACE = ['BACARAMANGA',  'BGMANGA' ,'RAMANGAC' ,'UCARAMANGA' ,'RAMANGA' , 'BCAMANGA' ]

for i in range(len(TOREPLACE)):
  df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace(TOREPLACE[i],'B_U_C_A_R_A_M_A_N_G_A')

TOREPLACE = []

In [ ]:
TOREPLACE = ['PMAPLONAC', 'PMAPLONA', 'PANPLONA', 'PLAMPLONA', 'PMALONA' ,'PSMPLONA', 'RAMANGAAPMPLNA']
  
for i in range(len(TOREPLACE)):
  df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace(TOREPLACE[i],' P_A_M_P_L_O_N_A ')
  
TOREPLACE = []

In [ ]:
#Se descartan las ubicaciones que no se pudieron determinar
df_fil = df_fil[df_fil['LUGAR'].str.contains('_')].copy()

In [ ]:
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","–"]
for i in spec_chars:
  df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace(i,'')

TOREPLACE = []

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [ ]:
df_fil[df_fil['LUGAR'].str.contains('OCAÑA')]['LUGAR'].unique()

array(['OCAÑA SARDINATA', 'OCAÑA SARDINATA ABREGO', 'OCAÑA',
       'OCAÑA SARDINATA METROS', 'OCAÑA PAMPLONA', 'OCAÑA CÚCUTATA',
       'OCAÑA ABREGO', 'OCAÑA SARDINATA CÚCUTATA', 'SARDINATA OCAÑA',
       'OCAÑA SARDINATA METROD', 'PUENTE OCAÑA'], dtype=object)

In [ ]:
TOREPLACE = ['OCAÑA SARDINATA CÚCUTATA','OCAÑA CÚCUTATA']
#VIA OCAÑA-CÚCUTA
for i in range(len(TOREPLACE)):
  df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace(TOREPLACE[i],'VIA OCAÑA-CÚCUTA')

TOREPLACE = []

TOREPLACE = ['OCAÑA SARDINATA ABREGO','OCAÑA SARDINATA METROS','SARDINATA OCAÑA','OCAÑA SARDINATA METROD','OCAÑA SARDINATA']
#VIA OCAÑA-SARDINATA
for i in range(len(TOREPLACE)):
  df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace(TOREPLACE[i],'VIA OCAÑA-SARDINATA')

TOREPLACE = []

TOREPLACE = ['PUENTE OCAÑA','OCAÑA']
#OCAÑA
for i in range(len(TOREPLACE)):
  df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace(TOREPLACE[i],'OCAÑA')

TOREPLACE = []

TOREPLACE = ['OCAÑA PAMPLONA']
#VIA OCAÑA-PAMPLONA
for i in range(len(TOREPLACE)):
  df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace(TOREPLACE[i],'VIA OCAÑA-PAMPLONA')

TOREPLACE = []

TOREPLACE = ['OCAÑA ABREGO']
#VIA OCAÑA-ABREGO
for i in range(len(TOREPLACE)):
  df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace(TOREPLACE[i],'VIA OCAÑA-ABREGO')

TOREPLACE = []

In [ ]:
TOREPLACE = ['SARDINATA CÚCUTATA METROS','SARDINATA CÚCUTATA SARDINATA CÚCUTATA','CÚCUTATA SARDINATA','SARDINATA CÚCUTATA RISARALDA','SARDINATA CÚCUTATA LLANERO','SARDINATA CÚCUTATA KILOMETRO','AGUAZULIA SARDINATA CÚCUTATA','SARDINATA CÚCUTATA PEDREGALES','SARDINATA CÚCUTATA REPRESA','SARDINATA CÚCUTATA']
#VIA SARDINATA-CUCUTA
for i in range(len(TOREPLACE)):
  df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace(TOREPLACE[i],'VIA SARDINATA-CUCUTA')

TOREPLACE =[]

In [ ]:
TOREPLACE = ['BUCARAMANGA PAMPLONA CÚCUTATA','CÚCUTATA BUCARAMANGA']
#VIA BUCARAMANGA-CUCUTA
for i in range(len(TOREPLACE)):
  df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace(TOREPLACE[i],'VIA BUCARAMANGA-CUCUTA')

TOREPLACE = ['BUCARAMANGA APMPLNA','BACABUCARAMANGA PAMPLONA','BUCARAMANGA BUCARAMANGA PAMPLONA BUCARAMANGA BUCARAMANGA PAMPLONA','PAMPLONA BUCARAMANGA BUCARAMANGA',
             'PAMPLONA BUCARAMANGA','BUCARAMANGA BUCARAMANGA  PAMPLONA','SECTOR MIGUELERA PAMPLONA CÚCUTATA','BUCARAMANGA PAMPLONA MUTISCUA',
             'LAGUNA BUCARAMANGA BUCARAMANGA PAMPLONA','UCABUCARAMANGA PAMPLONA'
             'BUCARAMANGA BUCARAMANGA PAMPLONA LAGUNA','BUCARAMANGA BUCARAMANGA PAMPLONA','BUCARAMANGA PAMPLONA','BUCARAMANGA  PAMPLONA']
#VIA PAMPLONA-BUCARAMANGA
for i in range(len(TOREPLACE)):
  df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace(TOREPLACE[i],'VIA PAMPLONA-BUCARAMANGA')

TOREPLACE = ['PRESIDENTE CÚCUTATA PAMPLONA','PAMPLONA CÚCUTATA ENTRADA BOCHALEMA','PRESIDENTE  PAMPLONA  CÚCUTATA',
             'PAMPLONA CÚCUTATA VOLCAN', 'PAMPLONA CÚCUTATA BOCHALEMA','PAMPLONA CÚCUTATA MIGUELERA', 'PAMPLONA CÚCUTATA LAGUNA',
             'PAMPLONA CÚCUTATA KILOMETRO','PAMPLONA CÚCUTATA PAMPLONA CÚCUTATA','PAMPLONA CÚCUTATA DIAMANTE', 'PIRULAY PAMPLONA',
             'PAMPLONA CÚCUTATA SALVADOR','PRESIDENTE PAMPLONA CÚCUTATA','PRESIDENTE PAMPLONA','PAMPLONA CÚCUTATA PIRULAY',
             'CÚCUTATA PAMPLONA','PAMPLONA CÚCUTATA BOCHALEM','PAMPLONA CÚCUTATA','PAMPLONA  CÚCUTATA','PAMPLONA CHINACOTA']
             
#VIA PAMPLONA-CUCUTA
for i in range(len(TOREPLACE)):
  df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace(TOREPLACE[i],'VIA PAMPLONA-CUCUTA')

df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.strip()
df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace('VIA PAMPLONA-BUCARAMANGA LAGUNA','VIA PAMPLONA-BUCARAMANGA')
df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace('UCAVIA PAMPLONA-BUCARAMANGA','VIA PAMPLONA-BUCARAMANGA')
TOREPLACE =[]

In [ ]:
df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace('SARDINATA AZULIA','VIA SARDINATA-CUCUTA')
df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace('SARDINATA CACHAMAY','VIA SARDINATA-CUCUTA')
df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace('SARDINATA CORNEJO','VIA SARDINATA-CUCUTA')
df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace('SARDINATA PUENTE CORNEJO','VIA SARDINATA-CUCUTA')
df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace('SARDINATA COLORADA','VIA SARDINATA-PAMPLONA')
df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace('SARDINATA PAMPLONA','VIA SARDINATA-PAMPLONA')
df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace('SARDINATA PUENTE PIEDRAS','SARDINATA')
df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace('BUCARAMANGA BUCARAMANGA','BUCARAMANGA')

In [ ]:
TOREPLACE = ['CORNEJO CÚCUTATA', 'CÚCUTATA CORNEJO', 'CORNEJOC CÚCUTATA']
for i in range(len(TOREPLACE)):
  df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace(TOREPLACE[i],'VIA CORNEJO-CUCUTA')

df_fil.loc[:,'LUGAR'] = df_fil['LUGAR'].str.replace('BUCARAMANGA VIA PAMPLONA-BUCARAMANGA','VIA PAMPLONA-BUCARAMANGA')

In [ ]:
len(df_fil['LUGAR'].unique())

33

In [ ]:
df_fil['LUGAR'].unique()

array(['VIA SARDINATA-CUCUTA', 'VIA OCAÑA-SARDINATA',
       'VIA PAMPLONA-BUCARAMANGA', 'VIA PAMPLONA-CUCUTA',
       'BUCARAMANGA CÚCUTATA', 'CÚCUTATA PUERTO SANTANDER',
       'TERMOTASAJEROC CÚCUTATA', 'VIA CORNEJO-CUCUTA',
       'VIA BUCARAMANGA-CUCUTA', 'TERMOTASAJERO CÚCUTATA', 'SARDINATA',
       'PAMPLONA', 'BUCARAMANGA', 'OCAÑA', 'CÚCUTATA',
       'VIA OCAÑA-PAMPLONA', 'TERMOTASAJERC CÚCUTATA', 'VIA OCAÑA-CÚCUTA',
       'CÚCUTATA CRONEJO', 'VIA OCAÑA-ABREGO', 'VIA SARDINATA-PAMPLONA',
       'PRESIDENTE CÚCUTATA', 'SARDINATA ABREGO', 'SARDINATA RISARALDA',
       'BUCARAMANGA LAGUNA', 'SARDINATA CAMILANDIA', 'CHINACOTA CÚCUTATA',
       'BOGOTA SARDINATA', 'BARBOSA CÚCUTATA', 'BUCARAMANGA FLORENCIA',
       'SANTANDER CÚCUTATA', 'CÚCUTATA CAYETANO', 'SARDINATA FORTUNA'],
      dtype=object)

In [ ]:
df_fil

,COMPARENDO,FECHA,CÓDIGO INFRACCIÓN,INFRACCION,LUGAR,CLASE VEHICULO,VALOR
0,9.223370e+18,18/09/2016,B02,Conducir un vehículo con la licencia de conduc...,VIA SARDINATA-CUCUTA,AUTOMOVIL,"183,854"
2,9.223370e+18,22/04/2016,B02,Conducir un vehículo con la licencia de conduc...,VIA OCAÑA-SARDINATA,AUTOMOVIL,"183,855"
3,9.223370e+18,07/05/2016,B02,Conducir un vehículo con la licencia de conduc...,VIA PAMPLONA-BUCARAMANGA,CAMIONETA,"183,855"
4,9.223370e+18,25/03/2016,B02,Conducir un vehículo con la licencia de conduc...,VIA PAMPLONA-BUCARAMANGA,CAMIONETA,"183,855"
5,9.223370e+18,17/07/2016,B01,Conducir un vehículo sin llevar consigo la lic...,VIA SARDINATA-CUCUTA,MOTOCICLETA,"183,854"
...,...,...,...,...,...,...,...
25036,1.000000e+20,08/12/2020,C14,Transitar por los siguientes sitios restringid...,VIA SARDINATA-CUCUTA,CAMION,"438,902"
25037,1.000000e+20,11/12/2020,C35,No realizar la revisión técnico-mecánica en el...,VIA SARDINATA-CUCUTA,BUS,"438,902"
25038,1.000000e+20,12/12/2020,C35,No realizar la revisión técnico-mecánica en el...,VIA SARDINATA-CUCUTA,BUSETA,"438,902"
25039,1.000000e+19,08/12/2019,C14,Transitar por los siguientes sitios restringid...,VIA SARDINATA-CUCUTA,VOLQUETA,"414,058"
25040,1.000000e+20,13/01/2018,D02,Conducir sin portar el Seguro Obligatorio de A...,VIA SARDINATA-CUCUTA,MOTOCICLETA,"781,242"

In [ ]:
df_fil.to_csv('/content/drive/Shareddrives/Cálculo/DataSetDefFixed.csv',encoding='latin-1')